*{margin:0;padding:0;box-sizing:border-box}
:root{--cardwidth:1000px}
h2,h3{color:#000}
.main{background-image:url(../images/events-heavenly-header.jpg);background-size:cover;min-height:100vh}
.sideMenu{position:relative;color:#fff}
.main .sideMenu i{color:#fff;font-size:45px;cursor:pointer}
.main .menu{background-color:#000;height:100vh;width:300px}
.closeIcon{position:relative}
.closeIcon i{font-size:35px!important;right:20px;padding-top:20px;position:absolute}
.closeIcon i:hover{color:#ff4500}
.links ul{list-style-type:none}
.links ul li{display:block;color:#fff;padding:20px;cursor:pointer}
.links ul li:hover{color:#ff4500}
.links{margin-top:50px;font-size:25px}
.timer{margin:100px 0;background-image:url(../images/invitation-2508607__340.jpg);height:300px;width:100%;background-size:cover;background-position:center;position:relative}
.overlay{background-color:rgba(214,46,51 ,.5);position:absolute;width:100%;height:100%}
.timer span{font-size:30px;color:#fff;border:1px solid #fff;padding:30px 90px}
.contactInfo{color:#777}
.contactInfo .social i{margin-right:10px;border:1px solid #777;width:40px;height:40px;line-height:42px;text-align:center}
.singers{width:700px;color:#fff;text-align:center}
.singers .singerTitle{background-color:#ff7158;font-size:30px;cursor:pointer;border:1px solid}
.singers .singerBody{background-color:#8b8888;transition:all 1s;max-height:0;overflow:hidden;transition:max-height 1s ease}